.start-screen {
    background-color: #404040;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../../assets/img/card.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    img {
        width: 200px;
        height: auto;
        object-fit: contain;
        cursor: pointer;
        margin-bottom: 32px;
        &:hover {
            filter: brightness(2);
            transition: all ease-in-out 225ms;
        }
    }
}

@media(max-width: 800px) {
    .start-screen {
        img {
            margin-bottom: 64px;
        }
    }
}

@media(max-width: 600px) {
    .start-screen {
        img {
            margin-bottom: 124px;
        }
    }
}

@media(max-width: 400px) {
    .start-screen {
        img {
            margin-bottom: 184px;
            width: 150px;
        }
    }
}