.player {
    display: flex;
    align-items: center;
    background-color: rgb(191, 187, 179);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 20px;
    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
    }
    span {
        font-size: 32px;
        margin-left: 16px;
        text-overflow: ellipsis; // text hat maximum eine Zeile und mit ... weiter ausgefuehrt.
        white-space: nowrap; // text hat maximum eine Zeile
        overflow: hidden;
    }
}

.player-active {
    background-color: orange !important;
}

@media(max-width: 1215px) {
    .player {
        // background-color: green !important;
        width: 200px;
        img {
            width: 50px;
            height: 50px;
        }
        span {
            font-size: 24px;
            margin-left: 16px;
        }
    }
}

@media(max-width: 400px) {
    .player {
        // background-color: green !important;
        width: 150px;
        img {
            width: 40px;
            height: 40px;
        }
        span {
            font-size: 20px;
            margin-left: 16px;
        }
    }
}